{% extends 'core/base.html' %}

{% block tittle_bar %}Checkout de {{producto.nombre}}{% endblock %}

{% block tittle_section %}Checkout de {{producto.nombre}}{% endblock %}

{% block content %}
<p>Nombre del producto: {{producto.nombre}}</p>
<p>Modelo: {{producto.modelo}}</p>
<p>Unidades: {{producto.unidades}}</p>
<p>Precio: {{producto.precio}}</p>
<p>VIP: {{producto.vip}}</p>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_div}}
    <button type="submit">Comprar ahora</button>
</form>
{% endblock %}